<div class="form-horizontal">
    <h3>Create a new User</h3>
    <div class="form-group">
        <div class="col-md-offset-2 col-sm-2">
            <a id="Create" name="Create" class="btn btn-primary" href="#/Users/new"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
        </div>
    </div>
</div>
<hr/>
<div>
    <h3>Search for Users</h3>
    <form id="UserSearch" class="form-horizontal">
        

    <div class="form-group">
        <label for="username" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-10">
            <input id="username" name="username" class="form-control" type="text" ng-model="search.username" placeholder="Enter the User Username"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="password" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-10">
            <input id="password" name="password" class="form-control" type="text" ng-model="search.password" placeholder="Enter the User Password"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="profile" class="col-sm-2 control-label">Profile</label>
        <div class="col-sm-10">
            <input id="profile" name="profile" class="form-control" type="text" ng-model="search.profile" placeholder="Enter the User Profile"></input>
        </div>
    </div>

    <div class="form-group">
        <label for="user" class="col-sm-2 control-label">User</label>
        <div class="col-sm-10">
            <select id="user" name="user" class="form-control" ng-model="search.user" ng-options="u as u.id for u in userList">
                <option value="">Choose a User</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="status" class="col-sm-2 control-label">Status</label>
        <div class="col-sm-10">
            <select id="status" name="status" class="form-control" ng-model="search.status" ng-options="s as s for s in statusList">
                <option value="">Choose a Status</option>
            </select>
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-sm-10">
                <a id="Search" name="Search" class="btn btn-primary" ng-click="performSearch()"><span class="glyphicon glyphicon-search"></span> Search</a>
            </div>
        </div>
    </form>
</div>
<div id="search-results">
        <div class="table-responsive">
        <table class="table table-responsive table-bordered table-striped clearfix">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Profile</th>
                    <th>User</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody id="search-results-body">
                <tr ng-repeat="result in searchResults | searchFilter:searchResults | startFrom:currentPage*pageSize | limitTo:pageSize">
                    <td><a href="#/Users/edit/{{result.id}}">{{result.username}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.password}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.profile}}</a></td>
                        <td><a href="#/Users/edit/{{result.id}}">{{result.user.id}}</a></td>
                    <td><a href="#/Users/edit/{{result.id}}">{{result.status}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>

        <ul class="pagination pagination-centered">
        <li ng-class="{disabled:currentPage == 0}">
            <a id="prev" href ng-click="previous()">«</a>
        </li>
        <li ng-repeat="n in pageRange" ng-class="{active:currentPage == n}" ng-click="setPage(n)">
            <a href ng-bind="n + 1">1</a>
        </li>
        <li ng-class="{disabled: currentPage == (numberOfPages() - 1)}">
            <a id="next" href ng-click="next()">»</a>
        </li>
    </ul>

</div>